/*background of all pages*/
body
{
	background-image: url("background.jpg");
}

/*Font for all p{}* in all pages*/
p
{
	font-size: 20px;
}

/*Style for heading 1 in all pages*/
h1
{
	font-size:50px; 
	text-align: center; 
	background-color:rgba(242, 242, 166,0.8); 
	width: 100%; 
	padding: 20px;
}

/*background colour to of all pages of article{} including padding and allingment in all pages*/
article
{
	background-color:#fcfce9; 
	padding: 25px; 
	align-content: center;
}

/*font for li{} in index and achievement pages*/
li
{
	font-size: 20px;
}

/*Style for images in index and achievement pages*/
#img1,#img2,#img4,#img5
{
	 margin-left:20%; 
	 padding: 20px; 
	 background-color:#ffff80; 
	 display:inline-block; 
}

/*Style for single images in achievement page*/
#img3
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color:#ffff80; 
}

/*Style for heading 2 & 3 in all pages*/
h3,h2
{
	text-decoration: underline; 
	font-size: 40px;
}

/*Style for page index with id of attribute to set up content box in index page*/
#attribute 
{
	background-color:#fcfce9; 
	padding: 25px; align-content:center; 
	margin-top:10px; 
	width: 96%; 
	padding: 25px;
}

/*Style for external link at the bottom of pages in index and achievement pages*/
a.addF,a.addLinkedIn
{
	display: block;
	margin: auto;
	text-decoration: none; 
	text-align: center;
	font-size: 20px;
}

/*Style to set up ul{} in navigation list in all pages*/
ul.navi 
{
	list-style-type: none;
	margin:auto;
	padding-left: 37%;
	overflow: hidden;
	background-color: #ff8000;
}

/*Style to set up a{} in navigation list in all pages*/
a.navi
{
	float: left; display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}



/*link active, visited, hover behaviour in all pages*/

a:link 
{
  color: green;
}

a:visited 
{
  color: blue;
}
a:hover 
{
  color: red;
}
a:active 
{
  color: yellow;
} 

/*Style for label in Contact page*/
label 
{ 
	display: inline-block;
 	width: 200px; padding: 10px; 
 	height: 25px; 
 }

/*Style for input in contact page*/
input
{	
	border-radius: 8px;
 	display: inline-block;
	width: 50%;
	height: 25px
}

/*Style for text area in contact page*/
textarea
{
	border-radius: 8px; 
	width:80%;
}

/*Style for submit button in contact page*/
input[type="submit"] 
{ 
	width: 200px;
	height: 40px;
	border-radius: 5px;
	background-color:#00cc00;
    font-size: 18px; color: white;
}
